<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/flagments/header::header">
        <title>Inventory</title>
    </th:block>
</head>
<body class="materialdesign">
<th:block th:replace="/flagments/sidebar::sidebar"></th:block>

<div class="admin-dashone-data-table-area">
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline13-list shadow-reset">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Inventory<span class="table-project-n"></span></h1>
                                <div class="sparkline13-outline-icon">
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/inventory/add.html}" th:object="${inventoryDTOS}" method="post">
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Supplier</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-select-list">
                                            <select class="form-control custom-select-value" id="s_supplier"
                                                    th:field="${suppliers}">
                                                <option th:each="obj : ${suppliers}"
                                                        th:value="${obj.supplierId}"
                                                        th:text="${obj.name}" th:selected="${supplier_id}"></option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <button class="btn btn-sm btn-primary login-submit-cs" id="c_supplier"
                                                type="button">Chọn
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Create Date</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-mark-inner mg-b-22">
                                            <div class="form-group data-custon-pick" id="data_2">
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i
                                                            class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control" id="datePicker"
                                                           th:field="*{recevie.creatDate}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="sparkline13-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                        <div id="toolbar">
                                            <select class="form-control">
                                                <option value="">Export Basic</option>
                                                <option value="all">Export All</option>
                                                <option value="selected">Export Selected</option>
                                            </select>
                                        </div>
                                        <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                               data-show-columns="true" data-show-pagination-switch="true"
                                               data-show-refresh="true" data-key-events="true" data-show-toggle="true"
                                               data-resizable="true" data-cookie="true" data-cookie-id-table="saveId"
                                               data-show-export="true" data-click-to-select="true"
                                               data-toolbar="#toolbar">
                                            <thead>
                                            <tr>

                                                <th data-field="name">Name</th>
                                                <th data-field="code">Code</th>
                                                <th data-field="size">Size</th>
                                                <th data-field="supplier">Supplier</th>
                                                <th data-field="category">Category</th>
                                                <th data-field="sex">Sex</th>
                                                <th data-field="price">Price</th>
                                                <th data-field="amountTotal">Amount</th>
                                                <th>Amount in store</th>
                                            </tr>

                                            </thead>

                                            <tbody>
                                            <tr th:each=" product,count :${products}">
                                                <input type="hidden"
                                                       th:field="*{inventoryItems[__${count.index}__].product_id}">
                                                <td th:text="${product.name}">Name</td>
                                                <td th:text="${product.code}">Code</td>
                                                <td th:text="${product.sizeProduct}">size</td>
                                                <td th:text="${product.supplier.getName()}">Supplier</td>
                                                <td th:text="${product.category.getName()}">Category</td>
                                                <td th:text="${product.sex=='0'? 'female':'male'}">sex</td>
                                                <td >
                                                    <input type="text" id="price" th:field="*{inventoryItems[__${count.index}__].price}"
                                                           class="form-control"  name="email"/></td>
                                                <td><input type="number" id="amountTotal" th:field="*{inventoryItems[__${count.index}__].soLuong}"
                                                           class="form-control" min="0" name="email"/></td>
                                                <td th:text="${product.amountTotal}"></td>
                                                <td> <input type="hidden" id="tongtien"
                                                           th:field="*{inventoryItems[__${count.index}__].tongtien}"
                                                           class="form-control" name="email"/></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="form-group-inner">
                                            <div class="login-btn-inner">
                                                <div class="row">
                                                    <div class="col-lg-3"></div>
                                                    <div class="col-lg-9">
                                                        <div class="login-horizental cancel-wp pull-left">
                                                            <button class="btn btn-sm btn-primary login-submit-cs"
                                                                    type="submit">Save
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var c = url.searchParams.get("supplier_id");
        if (c == null) {
            c = 1;
        }
        $('#s_supplier').val(c).change();
        var now = new Date();
        now.setDate(now.getDate() + 1)
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth())).slice(-2);

        var today = (day) + "/" + (month) + "/" + now.getFullYear();

        $('#datePicker').val(today);
        //name="category" th:onchange="'window.location.href = \'?supplier_id=\' + this.value ' "
    });

    $("#c_supplier").click(function () {
        var id = $('#s_supplier option:selected').val();
        window.location.href = "http://localhost:8081/inventory/add.html?supplier_id=" + id;

    });

</script>
<th:block th:replace="/flagments/footer::footer"></th:block>
</body>
</html>