<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/flagments/header::header">
        <title>Category</title>
    </th:block>
</head>
<body class="materialdesign">
<th:block th:replace="/flagments/sidebar::sidebar"></th:block>

<div class="admin-dashone-data-table-area">
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline13-list shadow-reset">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Order<span class="table-project-n"></span> Table</h1>
                            </div>
                        </div>
                        <form action="#" th:action="@{/invoice/add.html}" th:object="${itemDto}" method="post">
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Name</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="input-mark-inner mg-b-22">
                                            <input type="text" id="name" th:field="*{consumer.name}" class="form-control" name="name" required="required"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Address</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="input-mark-inner mg-b-22">
                                            <input type="text" id="address" th:field="*{consumer.address}" class="form-control" name="address" required="required"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Phone Number</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="input-mark-inner mg-b-22">
                                            <input type="text" id="phoneNumber" th:field="*{consumer.phoneNumber}" class="form-control" name="phoneNumber" required="required"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Email</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="input-mark-inner mg-b-22">
                                            <input type="text" id="email" th:field="*{consumer.email}" class="form-control" name="email" required="required"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="sparkline13-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                        <div id="toolbar">
                                            <select class="form-control">
                                                <option value="">Export Basic</option>
                                                <option value="all">Export All</option>
                                                <option value="selected">Export Selected</option>
                                            </select>
                                        </div>
                                        <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                            <thead>
                                            <tr>
                                                <th data-field="checked">Click</th>
                                                <th data-field="name" >Name</th>
                                                <th data-field="code" >Code</th>
                                                <th data-field="size" >Size</th>
                                                <th data-field="supplier">Supplier</th>
                                                <th data-field="category">Category</th>
                                                <th data-field="sex" >Sex</th>
                                                <th data-field="price">Price</th>
                                                <th data-field="amountTotal" >Amount</th>
                                                <th >Amount in store</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody >
                                            <tr th:each=" product,count :${products}">

                                                <td>  <input type="checkbox"
                                                             th:field="*{itemList[__${count.index}__].selected}">
                                                    <input type="hidden"
                                                           th:field="*{itemList[__${count.index}__].productId}">

                                                </td>
                                                <td th:text="${product.name}">Name</td>
                                                <td th:text="${product.code}">Code</td>
                                                <td th:text="${product.sizeProduct}">size</td>
                                                <td th:text="${product.supplier.getName()}">Supplier</td>
                                                <td th:text="${product.category.getName()}">Category</td>
                                                <td th:text="${product.sex=='0'? 'female':'male'}">sex</td>
                                                <td th:text="${#numbers.formatDecimal(product.salePrice, 0, 'COMMA', 2, 'POINT')}">price</td>
                                                <td> <input type="number" min="1" th:max="${product.amountTotal}" id="amountTotal" th:field="*{itemList[__${count.index}__].amount}" class="form-control" name="email" /></td>
                                                <td th:text="${product.amountTotal}"></td>
                                                <td>
                                                    <div class="btn-group project-list-action">
                                                        <a th:href="@{'/invoice/product/detail/' + ${product.getProductId()}}"> <i class="fa fa-apple"></i> Detail</a>
                                                    </div>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="form-group-inner">
                                            <div class="login-btn-inner">
                                                <div class="row">
                                                    <div class="col-lg-3"></div>
                                                    <div class="col-lg-9">
                                                        <div class="login-horizental cancel-wp pull-left">
                                                            <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Buy</button>
                                                            <a th:href="@{/temp}"><button  class="btn btn-sm btn-primary login-submit-cs" type="button">Reset</button></a>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="login-horizental cancel-wp pull-left">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


</script>
<th:block th:replace="/flagments/footer::footer"></th:block>
</body>
</html>