<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/flagments/header::header">
        <title>Category</title>
    </th:block>
</head>
<body class="materialdesign">
<th:block th:replace="/flagments/sidebar::sidebar"></th:block>

<div class="admin-dashone-data-table-area">
     <h1> Order Successfully</h1>
    <a th:href="@{/invoice/add.html}"><button  class="btn btn-sm btn-primary login-submit-cs" type="submit">Go to order page</button></a>

</div>
<script>


</script>
<th:block th:replace="/flagments/footer::footer"></th:block>
</body>
</html>