<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/flagments/header::header">
        <title>Title</title>
    </th:block>
</head>
<body class="materialdesign">
<p th:text="${messages}"></p>
<th:block th:replace="/flagments/sidebar::sidebar"></th:block>
<div class="admin-dashone-data-table-area">
    <img th:src="@{'/uploads/f430b8b60e7f3a946e17891b1c40b1b6.jpg'}" style="width: 100%;">
</div>
<th:block th:replace="/flagments/footer::footer"></th:block>
</body>
</html>